
.navbar-nav{
    justify-content: space-around;
    margin: auto;
    gap:15px;
}
.btn{
    margin-left: 40px;
    background-color: black;
    color: white;
}
.btn i{
    color: white;
    background-color: #F35525;
   width: 30px;
   height: 20px;
   border-radius: 10%;
  padding-top: 2px;
}

.carousel-item img{
    height:1000px;
    object-fit: cover;
}
.carousel-caption{
    text-align: left;
    margin-bottom: 20%;
    
}
.carousel-caption h5{
    font-size: 30px;
    color: black; 
    background: white; 
    width: 250px;
    text-align: center;
}
.carousel-caption p{
    font-size: 50px;
    font-weight: 800;
    width: 70%;
}
.carousel-caption span{
    color: #ff0077;
}

/* Featured */

.Featured{
    margin:100px 0px;
}
.featured-title{
   
   padding-bottom: 50px;
}
.featured-title h3{
    color: #ff0077;
}
.featured-title h1{
    font-size: 50px;
}

.featured-icons{
    background-color:whitesmoke;
    padding-left: 30px;
    border-radius: 20px;
}
hr{
    padding-bottom: 20px;
}
.featured-icon{
    display: flex; 
}
.featured-icon img{
   margin-bottom: 20px;
}
.featured-icon p{
    padding-left: 30px;
    
    font-weight: 500;
    text-align: left;
 }
 .featured-icon span{
    color: gray;
 }
 .main-content{
    background-color: ghostwhite;
 }
 .content{
    font-size: larger;
 }
 .content button{
    border: none;
    width: auto;
    background-color:ghostwhite;
    font-size: 30px;
    font-weight: 500;
 }
 .content span{
    color:#ff0077;
 }
 .vedio-section{
    background-image: url('image/video-bg.jpg');
    width: 100%; 
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
 }
 .text{
    text-align: center;
    padding-top: 5%;
 }
 .text p{
    color: #ff0077;
    font-size: 25px;
 }
 .text h1{
    color: white;
 }

 /* Numbers section */
 
 .numbers {
    margin-top: 150px;
    margin-bottom: 150px;
    
  }
  
  .number-section {
    position: relative; /* Relative positioning for circle placement */
    background-color: #ffefe9;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 20px auto; /* Center the cards with some bottom margin */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    
    
  }
  
  .number-section h1 {
    color: orangered;
    font-size: 70px;
    margin: 0;
    padding-left: 30px;
  }
  
  .number-section p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #333;
    padding-left: 30px;
  }
  
  .circle {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    background-color: orangered;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Best Deal */
  .best-deal-section{
    background-color: #FAFAFA;
    margin-bottom: 30px;
    padding-top: 70px;
  }
.heading p{
color:#ff0077;
font-size: 30px;

}
.btn-section{
    margin: 30px 0px;
    margin-top: 40px;
    
}
.btn-section .btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 500;
    border: 1px solid white;
    
}
.cards {
    display: flex;
    justify-content: space-around;
}
.cards p{
    font-size: 20px;
    font-weight: 500;
}
.proparty-card{
    margin-top: 80px;
    padding-bottom: 30px;
}
.img img{
    padding-top: 80px;
    
}
  .text-area{
padding-top: 20px;
  }
  .text-area p{
    color: gray;
    font-size: larger;
  }
  .text-area button{
    justify-content: left;
    background-color:rgb(255, 4, 0);
    font-weight: 500;
  }
  